// Import fonts
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

// Colourscheme (Dracula)
@background: #282a36;
@currentline: #44475a;
@foreground: #f8f8f2;
@comment: #6272a4;
@cyan: #8be9fd;
@green: #50fa7b;
@orange: #ffb86c;
@pink: #ff79c6;
@purple: #bd93f9;
@red: #ff5555;
@yellow: #f1fa8c;

// Elements
::selection {
    background: @orange;
}

* {margin: 0;}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    color: @foreground;
    background-color: @background;
    font-size: medium;
    font-family: 'Fira Code', monospace;
}

a { 
    color: @red;
    &:hover {
        color: @orange;
    }
}

ul#topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: @currentline;
    li {
        float: left;
        a {
            display: block;
            color: white;
            text-align: center;
            padding: 12px 16px;
            text-decoration: none;
            &:hover:not(.active) {
                background-color: @purple;
            }
            &#active {
                background-color: @pink;
                &:hover {
                    background-color: @comment;
                }
            }
        }
    }  
}

.paragraph {
    padding: 50px;
    text-align: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: @pink;
    color: @foreground;
    text-align: center;
    a {
        color: @cyan;
        &:hover {
            color: @green;
        }
    }
}

// At-rules
@media screen and (max-width: 600px) {
    ul#topnav li {float: none;}
}

