@font-face {
    font-family: jb;
    src: url(./jb.woff2);
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 5px;
    padding: 0;
}
:root {
    --background: #282a36;
    --currentline: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
    --ansiblack: #21222C;
    --ansired: #FF5555;
    --ansigreen: #50FA7B;
    --ansiyellow: #F1FA8C;
    --ansiblue: #BD93F9;
    --ansimagenta: #FF79C6;
    --ansicyan: #8BE9FD;
    --ansiwhite: #F8F8F2;
    --ansibrightblack: #6272A4;
    --ansibrightred: #FF6E6E;
    --ansibrightgreen: #69FF94;
    --ansibrightyellow: #FFFFA5;
    --ansibrightblue: #D6ACFF;
    --ansibrightmagenta: #FF92DF;
    --ansibrightcyan: #A4FFFF;
}
html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
body {
	color: var(--foreground);
    background-color: var(--background);
    font-family: jb, monospace;
    font-size: medium;
}
nav {
    font-size: large; 
    text-align: center;
    width: 100%;
    overflow: hidden;
}
nav a {text-decoration: none;}
nav a:hover {text-decoration: underline;}
a {
    color: var(--ansibrightyellow);
}
a:hover {
    color: var(--purple);
}
h1, h2, h3, h4, h5, h6, p {
    margin: auto;
    max-width: 1000px;
    letter-spacing: 1.5px;
}
.wave span {
    display: table-cell;
    animation: wave 2s infinite;
}
@keyframes wave {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(7.5px)
    }
    100% {
        transform: translateY(0px) 
    }
}