html {height: 100%;}
body {
	color: white;
    background-color: black;
    font-family: 'JetBrains Mono', monospace;
    font-size: medium;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
a {
    text-decoration: none;
    margin: 0 10px 0 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    margin: auto;
    max-width: 1000px;
    line-height: 50px;
}
p {
    font-family: inherit;
    margin: auto;
    max-width: 1000px;
}
nav {
    font-family: inherit;
    font-size: large; 
    width: 100%;
    text-align: center;
    border: none;
}