:root {
    --background: #282a36;
    --currentline: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}
html {height: 100%;}
body {
	color: var(--foreground);
    background-color: var(--background);
    font-family: 'JetBrains Mono', monospace;
    font-size: medium;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
a {
    color: var(--pink);
    text-decoration: none;
    margin: 0 10px 0 10px;
}
a:hover {
    color: var(--purple);
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    margin: auto;
    max-width: 1000px;
    line-height: 50px;
}
p {
    font-family: inherit;
    margin: auto;
    max-width: 1000px;
}
nav {
    font-family: inherit;
    font-size: large; 
    width: 100%;
    text-align: center;
    border: none;
}