@font-face {
    font-family: jb;
    src: url(./jb.woff2);
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 5px;
    padding: 0;
}
::selection {color: #474e5d;}
:root {
    --red: #e06c75;
    --green: #98c379;
    --yellow: #e5c07b;
    --blue: #61afef;
    --purple: #c678dd;
    --cyan: #56b6c2;
    --white: #dcdfe4;
    --black: #282c34;
}
html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
body {
	color: var(--white);
    background-color: var(--black);
    font-family: jb, monospace;
    font-size: medium;
}
nav {
    font-size: large; 
    text-align: center;
    width: 100%;
    overflow: hidden;
}
nav a {text-decoration: none;}
nav a:hover {text-decoration: underline;}
a {
    color: var(--yellow);
}
a:hover {
    color: var(--purple);
}
h1, h2, h3, h4, h5, h6, p {
    margin: auto;
    max-width: 1000px;
    letter-spacing: 1.5px;
}
.wave span {
    display: table-cell;
    animation: wave 2s infinite;
}
@keyframes wave {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(7.5px)
    }
    100% {
        transform: translateY(0px) 
    }
}